{% extends 'admin_base.html.twig' %}

{% block body %}
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <p class="h5">Item</p>
      </div>
{% if id is defined and id is not empty%}
    <p><code>id: {{ id }}</code></p>
{% endif %}
{{ form(form) }}
{% endblock %}