/*
.btn-danger {
  background-color: #da0f0f;
  border-color: #d21728;
}

.btn-success {
  background-color: #169b6b;
  border-color: #149063;
}

.btn-primary {
  background-color: #0062cc;
  border-color: #005cbf;
}



.btn-link {
    color: #0056b3;
}

.btn-info {
  background-color: #117a8b;
  border-color: #10707f;
}

.btn-outline-success {
    color: #28a745;
    background-color: transparent;
    background-image: none;
    border-color: #28a745;
}
*/

body {
    color: #101010;
}

.table {
    color: #101010;
}

.bg-gradient-primary {
  background-color: #4e73df;
  background-image: linear-gradient(180deg,#383c48 10%,#182344 100%);
}